@import url(star2015.css); @import url(http://networking.yu.tl/files/usman.css); 
 @import url(/files/baa.css);
 #footer:after {content:"All Right Reserved " !important;margin:0;padding:1px;display:block !important;font-size:small !important;color:#b94201 !important}